image: gitlab.ozon.dev/qa/classroom-4/students/dependency_proxy/containers/golang:1.19-alpine

variables:
  ADD_DATA: 'data from vars.yml'
  DOCKER_AUTH_CONFIG: '{"auths":{"gitlab.ozon.dev":{"username":"$CI_DEPENDENCY_PROXY_USER","password":"$CI_DEPENDENCY_PROXY_PASSWORD"}}}'

stages:
  - build
  - test

pre-commit:
  stage: build
  image: gitlab.ozon.dev/qa/classroom-4/students/dependency_proxy/containers/kiwicom/pre-commit
  script:
    - pre-commit run -a

build:
  stage: build
  script:
    - apk add --update make curl git protoc protobuf protobuf-dev build-base
    - make deps-go
    - make build
  artifacts:
    paths:
      - bin/
    expire_in: 1 days

linter:
  stage: build
  image: gitlab.ozon.dev/qa/classroom-4/students/dependency_proxy/containers/golangci/golangci-lint
  script:
    - golangci-lint-run -v --new-from-rev 09cb7872e296d9e9fa8d4f816bb73cf25706b44a ./..
  
